In [14]:
# importing the labraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [15]:
#Feature transformation: change

df = pd.read_csv("supershops.csv")
df

    Marketing Spend  Administration  Transport     Area     Profit
0         114523.61       136897.80  471784.10    Dhaka  192261.83
1         162597.70       151377.59  443898.53      Ctg  191792.06
2         153441.51       101145.55  407934.54  Rangpur  191050.39
3         144372.41       118671.85  383199.62    Dhaka  182901.99
4         142107.34        91391.77  366168.42  Rangpur  166187.94
5         131876.90        99814.71  362861.36    Dhaka  156991.12
6         134615.46       147198.87  127716.82      Ctg  156122.51
7         130298.13       145530.06  323876.68  Rangpur  155752.60
8         120542.52       148718.95  311613.29    Dhaka  152211.77
9         123334.88       108679.17  304981.62      Ctg  149759.96
10        101913.08       110594.11  229160.95  Rangpur  146121.95
11        100671.96        91790.61  249744.55      Ctg  144259.40
12         93863.75       127320.38  249839.44  Rangpur  141585.52
13         91992.39       135495.07  252664.93      Ctg  134307.35
14        119943.24       156547.42  256512.92  Rangpur  132602.65
15        165349.20       122616.84  261776.23    Dhaka  129917.04
16         78013.11       121597.55  264346.06      Ctg  126992.93
17         94657.16       145077.58  282574.31    Dhaka  125370.37
18         91749.16       114175.79  294919.57  Rangpur  124266.90
19         86419.70       153514.11        NaN    Dhaka  122776.86
20         76253.86       113867.30  298664.47      Ctg  118474.03
21         78389.47       153773.43  299737.29    Dhaka  111313.02
22         73994.56       122782.75  303319.26  Rangpur  110352.25
23         67532.53       105751.03  304768.73  Rangpur  108733.99
24         77044.01        99281.34  140574.81    Dhaka  108552.04
25         64664.71       139553.16  137962.62      Ctg  107404.34
26         75328.87       144135.98  134050.07  Rangpur  105733.54
27         72107.60       127864.55  353183.81    Dhaka  105008.31
28         66051.52       182645.56  118148.20  Rangpur  103282.38
29         65605.48       153032.06  107138.38    Dhaka  101004.64
30         61994.48       115641.28   91131.24  Rangpur   99937.59
31         61136.38       152701.92   88218.23    Dhaka   97483.56
32         63408.86       129219.61   46085.25      Ctg   97427.84
33         55493.95       103057.49  214634.81  Rangpur   96778.92
34         46426.07       157693.92  210797.67      Ctg   96712.80
35         46014.02        85047.44  205517.64    Dhaka   96479.51
36         28663.76       127056.21  201126.82  Rangpur   90708.19
37         44069.95        51283.14  197029.42      Ctg   89949.14
38         20229.59        65947.93  185265.10    Dhaka   81229.06
39         38558.51        82982.09  174999.30      Ctg   81005.76
40         28754.33       118546.05  172795.67      Ctg   78239.91
41         27892.92        84710.77  164470.71  Rangpur   77798.83
42         23640.93        96189.63  148001.11      Ctg   71498.49
43         15505.73       127382.30   35534.17    Dhaka   69758.98
44         22177.74       154806.14   28334.72      Ctg   65200.33
45          1000.23       124153.04    1903.93    Dhaka   64926.08
46          1315.46       115816.21  297114.46  Rangpur   49490.75
47             0.00       135426.92       0.00      Ctg   42559.73
48           542.05        51743.15       0.00    Dhaka   35673.41
49             0.00       116983.80   45173.06      Ctg   14681.40

# normalization(0,1)

In [16]:
from sklearn.preprocessing import MinMaxScaler # feature r opre normalization hobe sobar opre na. 
m = MinMaxScaler() #  y r opre hobe na.# feature range=0,1,2,5....

In [112]:
# https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.MinMaxScaler.html
df_mar = m.fit_transform(df[['Marketing Spend']]) # training korlam 
df_mar

array([[0.69261666],
       [0.98335946],
       [0.92798459],
       [0.87313643],
       [0.85943772],
       [0.797566  ],
       [0.81412828],
       [0.7880179 ],
       [0.72901786],
       [0.74590551],
       [0.61635061],
       [0.60884455],
       [0.56766982],
       [0.55635219],
       [0.72539353],
       [1.        ],
       [0.47180821],
       [0.57246821],
       [0.55488118],
       [0.52264964],
       [0.46116861],
       [0.47408436],
       [0.4475048 ],
       [0.40842369],
       [0.46594728],
       [0.39107967],
       [0.45557444],
       [0.43609283],
       [0.39946683],
       [0.39676926],
       [0.37493063],
       [0.36974101],
       [0.38348453],
       [0.33561668],
       [0.2807759 ],
       [0.2782839 ],
       [0.17335288],
       [0.26652654],
       [0.12234465],
       [0.23319442],
       [0.17390063],
       [0.16869099],
       [0.14297577],
       [0.09377566],
       [0.13412668],
       [0.0060492 ],
       [0.00795565],
       [0.        ],
       [0.00327821],
       [0.        ]])

In [18]:
df_mar

MinMaxScaler()

In [19]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [20]:
df[['Marketing Spend']] = m.transform(df[['Marketing Spend']]) # choto data te transform korlam

In [21]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617       136897.80  471784.10    Dhaka  192261.83
1         0.983359       151377.59  443898.53      Ctg  191792.06
2         0.927985       101145.55  407934.54  Rangpur  191050.39
3         0.873136       118671.85  383199.62    Dhaka  182901.99
4         0.859438        91391.77  366168.42  Rangpur  166187.94

In [22]:
# fit and transform both 
df[['Administration']] = m.fit_transform(df[['Administration']])

In [23]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.651744  471784.10    Dhaka  192261.83
1         0.983359        0.761972  443898.53      Ctg  191792.06
2         0.927985        0.379579  407934.54  Rangpur  191050.39
3         0.873136        0.512998  383199.62    Dhaka  182901.99
4         0.859438        0.305328  366168.42  Rangpur  166187.94

In [45]:
x = df.drop('Profit', axis=1)
y = df[['Profit']]

# Min Max Scaler using for loop

In [ ]:
x1 = x.copy()
x2 = x.copy()
x3 = x.copy()
x4 = x.copy()
x5 = x.copy()
x6 = x.copy()

In [46]:
x.head()

   Marketing Spend  Administration  Transport     Area
0         0.692617        0.651744   1.000000    Dhaka
1         0.983359        0.761972   0.940893      Ctg
2         0.927985        0.379579   0.864664  Rangpur
3         0.873136        0.512998   0.812235    Dhaka
4         0.859438        0.305328   0.776136  Rangpur

In [49]:
scaler = MinMaxScaler()

for col in x.columns:
    if pd.api.types.is_numeric_dtype(x[col]):
        x[col] = scaler.fit_transform(x[[col]])
        continue

print(x.head())

   Marketing Spend  Administration  Transport     Area
0         0.692617        0.651744   1.000000    Dhaka
1         0.983359        0.761972   0.940893      Ctg
2         0.927985        0.379579   0.864664  Rangpur
3         0.873136        0.512998   0.812235    Dhaka
4         0.859438        0.305328   0.776136  Rangpur

# Standard Scaler

In [ ]:
#https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html

In [57]:
from sklearn.preprocessing import StandardScaler
s = StandardScaler()

In [58]:
df_mar = s.fit(df[['Marketing Spend']])

In [61]:
df_mar

StandardScaler()

In [62]:
df_mar = s.fit(df[['Marketing Spend']]) # trainging

In [63]:
df.head()

   Marketing Spend  Administration  Transport     Area    Profit
0         0.692617        0.651744   1.000000    Dhaka  1.000000
1         0.983359        0.761972   0.940893      Ctg  0.997355
2         0.927985        0.379579   0.864664  Rangpur  0.993178
3         0.873136        0.512998   0.812235    Dhaka  0.947292
4         0.859438        0.305328   0.776136  Rangpur  0.853171

In [64]:
df[['Marketing Spend']] = s.fit_transform(df[['Marketing Spend']]) #fit_transform both

In [65]:
df.head()

   Marketing Spend  Administration  Transport     Area    Profit
0         0.897913        0.651744   1.000000    Dhaka  1.000000
1         1.955860        0.761972   0.940893      Ctg  0.997355
2         1.754364        0.379579   0.864664  Rangpur  0.993178
3         1.554784        0.512998   0.812235    Dhaka  0.947292
4         1.504937        0.305328   0.776136  Rangpur  0.853171

In [69]:
#using for loop

In [81]:
x1 = x.copy()

In [83]:
scaler = StandardScaler()

for col in x1.columns:
    if pd.api.types.is_numeric_dtype(x1[col]):
        x1[col] = scaler.fit_transform(x1[[col]])
        continue

print(x1.head())

   Marketing Spend  Administration  Transport     Area
0         0.897913        0.560753   2.165287    Dhaka
1         1.955860        1.082807   1.929843      Ctg
2         1.754364       -0.728257   1.626191  Rangpur
3         1.554784       -0.096365   1.417348    Dhaka
4         1.504937       -1.079919   1.273550  Rangpur

# Max abs scaler

In [ ]:
#https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.MaxAbsScaler.html

In [85]:
from sklearn.preprocessing import MaxAbsScaler
mx = MaxAbsScaler()

In [87]:
df_mar = mx.fit(df[['Marketing Spend']])

In [88]:
df_mar

MaxAbsScaler()

In [90]:
df[['Marketing Spend']] = mx.fit_transform(df[['Marketing Spend']]) # fit and transfer both

In [92]:
df.head()

   Marketing Spend  Administration  Transport     Area    Profit
0         0.445303        0.651744   1.000000    Dhaka  1.000000
1         0.969971        0.761972   0.940893      Ctg  0.997355
2         0.870043        0.379579   0.864664  Rangpur  0.993178
3         0.771065        0.512998   0.812235    Dhaka  0.947292
4         0.746344        0.305328   0.776136  Rangpur  0.853171

# using for loop

In [96]:
x2 = x.copy()

In [97]:
x2.head()

   Marketing Spend  Administration  Transport     Area
0         0.692617        0.651744   1.000000    Dhaka
1         0.983359        0.761972   0.940893      Ctg
2         0.927985        0.379579   0.864664  Rangpur
3         0.873136        0.512998   0.812235    Dhaka
4         0.859438        0.305328   0.776136  Rangpur

In [98]:
scaler = StandardScaler()

for col in x2.columns:
    if pd.api.types.is_numeric_dtype(x2[col]):
        x2[col] = scaler.fit_transform(x2[[col]])
        continue

print(x2.head())

   Marketing Spend  Administration  Transport     Area
0         0.897913        0.560753   2.165287    Dhaka
1         1.955860        1.082807   1.929843      Ctg
2         1.754364       -0.728257   1.626191  Rangpur
3         1.554784       -0.096365   1.417348    Dhaka
4         1.504937       -1.079919   1.273550  Rangpur

# Robust Scaler

In [ ]:
#https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.RobustScaler.html

In [99]:
from sklearn.preprocessing import RobustScaler
R =  RobustScaler()

In [110]:
df_mar = R.fit_transform(df[['Marketing Spend']])

In [111]:
df_mar

array([[ 0.67253009],
       [ 1.45211292],
       [ 1.3036336 ],
       [ 1.15656655],
       [ 1.11983554],
       [ 0.95393588],
       [ 0.99834513],
       [ 0.9283341 ],
       [ 0.77013442],
       [ 0.8154161 ],
       [ 0.46803423],
       [ 0.44790788],
       [ 0.33750405],
       [ 0.30715756],
       [ 0.76041632],
       [ 1.49673201],
       [ 0.08046566],
       [ 0.35037021],
       [ 0.30321327],
       [ 0.21678926],
       [ 0.05193717],
       [ 0.08656882],
       [ 0.01529973],
       [-0.08949034],
       [ 0.06475046],
       [-0.13599571],
       [ 0.03693728],
       [-0.01529973],
       [-0.11350681],
       [-0.12073992],
       [-0.1792969 ],
       [-0.19321209],
       [-0.15636092],
       [-0.28471131],
       [-0.43175858],
       [-0.43844049],
       [-0.71979714],
       [-0.46996607],
       [-0.85656799],
       [-0.55934112],
       [-0.71832843],
       [-0.7322973 ],
       [-0.80124875],
       [-0.93317142],
       [-0.82497625],
       [-1.16839665],
       [-1.16328479],
       [-1.18461665],
       [-1.17582662],
       [-1.18461665]])

In [102]:
df[['Marketing Spend']] = R.fit_transform(df[['Marketing Spend']]) # fit and transfer both

In [103]:
df.head()

   Marketing Spend  Administration  Transport     Area    Profit
0         0.672530        0.651744   1.000000    Dhaka  1.000000
1         1.452113        0.761972   0.940893      Ctg  0.997355
2         1.303634        0.379579   0.864664  Rangpur  0.993178
3         1.156567        0.512998   0.812235    Dhaka  0.947292
4         1.119836        0.305328   0.776136  Rangpur  0.853171

# using for loop

In [108]:
x3.copy()
x3.head()

   Marketing Spend  Administration  Transport     Area
0         0.692617        0.651744   1.000000    Dhaka
1         0.983359        0.761972   0.940893      Ctg
2         0.927985        0.379579   0.864664  Rangpur
3         0.873136        0.512998   0.812235    Dhaka
4         0.859438        0.305328   0.776136  Rangpur

In [109]:
scaler = RobustScaler()

for col in x3.columns:
    if pd.api.types.is_numeric_dtype(x3[col]):
        x3[col] = scaler.fit_transform(x3[[col]])
        continue

print(x3.head())

   Marketing Spend  Administration  Transport     Area
0         0.672530        0.345355   1.552016    Dhaka
1         1.452113        0.697565   1.383714      Ctg
2         1.303634       -0.524290   1.166654  Rangpur
3         1.156567       -0.097977   1.017368    Dhaka
4         1.119836       -0.761543   0.914576  Rangpur

# extra work

In [24]:
df.info() # object holo area

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Marketing Spend  50 non-null     float64
 1   Administration   50 non-null     float64
 2   Transport        49 non-null     float64
 3   Area             50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [25]:
df[['Transport']] = m.fit_transform(df[['Transport']])

In [26]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.651744   1.000000    Dhaka  192261.83
1         0.983359        0.761972   0.940893      Ctg  191792.06
2         0.927985        0.379579   0.864664  Rangpur  191050.39
3         0.873136        0.512998   0.812235    Dhaka  182901.99
4         0.859438        0.305328   0.776136  Rangpur  166187.94

In [27]:
x = df.iloc[:,0:3] # jei feature golu nia kaj korbo tar list
# iloc()select a specific row or column from the data set.

In [28]:
x

    Marketing Spend  Administration  Transport
0          0.692617        0.651744   1.000000
1          0.983359        0.761972   0.940893
2          0.927985        0.379579   0.864664
3          0.873136        0.512998   0.812235
4          0.859438        0.305328   0.776136
5          0.797566        0.369448   0.769126
6          0.814128        0.730161   0.270710
7          0.788018        0.717457   0.686493
8          0.729018        0.741733   0.660500
9          0.745906        0.436929   0.646443
10         0.616351        0.451506   0.485733
11         0.608845        0.308364   0.529362
12         0.567670        0.578836   0.529563
13         0.556352        0.641066   0.535552
14         0.725394        0.801327   0.543708
15         1.000000        0.543030   0.554864
16         0.471808        0.535270   0.560312
17         0.572468        0.714013   0.598948
18         0.554881        0.478772   0.625116
19         0.522650        0.778236        NaN
20         0.461169        0.476424   0.633053
21         0.474084        0.780210   0.635327
22         0.447505        0.544293   0.642920
23         0.408424        0.414638   0.645992
24         0.465947        0.365388   0.297964
25         0.391080        0.671958   0.292427
26         0.455574        0.706845   0.284134
27         0.436093        0.582978   0.748613
28         0.399467        1.000000   0.250429
29         0.396769        0.774566   0.227092
30         0.374931        0.489928   0.193163
31         0.369741        0.772053   0.186989
32         0.383485        0.593294   0.097683
33         0.335617        0.394134   0.454943
34         0.280776        0.810055   0.446810
35         0.278284        0.257032   0.435618
36         0.173353        0.576825   0.426311
37         0.266527        0.000000   0.417626
38         0.122345        0.111636   0.392690
39         0.233194        0.241309   0.370931
40         0.173901        0.512041   0.366260
41         0.168691        0.254469   0.348614
42         0.142976        0.341852   0.313705
43         0.093776        0.579307   0.075319
44         0.134127        0.788072   0.060059
45         0.006049        0.554724   0.004036
46         0.007956        0.491260   0.629768
47         0.000000        0.640547   0.000000
48         0.003278        0.003502   0.000000
49         0.000000        0.500148   0.095749

In [29]:
from sklearn.preprocessing import MinMaxScaler # feature r opre normalization hobe sobar opre na. 
m = MinMaxScaler(feature_range=(0,1))

In [31]:
x_after_min_max_scaler = m.fit_transform(x)

In [32]:
x_after_min_max_scaler      # minimum value 0 te convert korse r maximum  value k convert korse 1 .

array([[0.69261666, 0.65174393, 1.        ],
       [0.98335946, 0.76197173, 0.94089337],
       [0.92798459, 0.37957895, 0.8646636 ],
       [0.87313643, 0.51299839, 0.81223513],
       [0.85943772, 0.30532804, 0.77613557],
       [0.797566  , 0.3694479 , 0.76912588],
       [0.81412828, 0.73016111, 0.27071031],
       [0.7880179 , 0.71745725, 0.68649342],
       [0.72901786, 0.74173276, 0.66049977],
       [0.74590551, 0.43692884, 0.64644319],
       [0.61635061, 0.45150637, 0.48573267],
       [0.60884455, 0.30836422, 0.52936195],
       [0.56766982, 0.57883556, 0.52956308],
       [0.55635219, 0.64106561, 0.53555202],
       [0.72539353, 0.8013272 , 0.54370828],
       [1.        , 0.54302973, 0.55486446],
       [0.47180821, 0.53527036, 0.56031151],
       [0.57246821, 0.71401273, 0.59894835],
       [0.55488118, 0.47877201, 0.62511553],
       [0.52264964, 0.77823604,        nan],
       [0.46116861, 0.47642362, 0.63305328],
       [0.47408436, 0.78021012, 0.63532724],
       [0.4475048 , 0.54429273, 0.64291963],
       [0.40842369, 0.4146383 , 0.64599195],
       [0.46594728, 0.3653876 , 0.29796428],
       [0.39107967, 0.67195793, 0.29242745],
       [0.45557444, 0.70684477, 0.28413435],
       [0.43609283, 0.58297807, 0.74861321],
       [0.39946683, 1.        , 0.25042853],
       [0.39676926, 0.77456642, 0.22709197],
       [0.37493063, 0.48992809, 0.19316302],
       [0.36974101, 0.77205322, 0.18698856],
       [0.38348453, 0.5932935 , 0.09768292],
       [0.33561668, 0.39413365, 0.45494286],
       [0.2807759 , 0.81005496, 0.44680961],
       [0.2782839 , 0.25703165, 0.43561799],
       [0.17335288, 0.57682456, 0.42631115],
       [0.26652654, 0.        , 0.41762624],
       [0.12234465, 0.11163611, 0.39269043],
       [0.23319442, 0.24130912, 0.3709309 ],
       [0.17390063, 0.51204073, 0.36626005],
       [0.16869099, 0.25446874, 0.34861436],
       [0.14297577, 0.34185188, 0.31370517],
       [0.09377566, 0.57930693, 0.07531871],
       [0.13412668, 0.78807166, 0.06005866],
       [0.0060492 , 0.5547241 , 0.0040356 ],
       [0.00795565, 0.49125975, 0.62976785],
       [0.        , 0.64054682, 0.        ],
       [0.00327821, 0.00350184, 0.        ],
       [0.        , 0.50014806, 0.09574943]])

In [33]:
#Standardization
from sklearn.preprocessing import StandardScaler
Standardization = StandardScaler()

In [34]:
x_after_Standardization = Standardization .fit_transform(x)

In [35]:
x_after_Standardization # -1 to 1 r majje asbe value

array([[ 0.89791312,  0.56075291,  2.1652875 ],
       [ 1.95586034,  1.08280658,  1.92984309],
       [ 1.75436374, -0.72825703,  1.62619068],
       [ 1.55478369, -0.09636463,  1.41734795],
       [ 1.5049372 , -1.07991935,  1.27354954],
       [ 1.27980001, -0.77623907,  1.24562725],
       [ 1.34006641,  0.93214721, -0.73975326],
       [ 1.24505666,  0.87198001,  0.91647045],
       [ 1.03036886,  0.9869521 ,  0.81292778],
       [ 1.09181921, -0.45664025,  0.75693503],
       [ 0.62039825, -0.38759909,  0.11676333],
       [ 0.59308542, -1.0655396 ,  0.29055549],
       [ 0.44325987,  0.21544906,  0.29135667],
       [ 0.4020776 ,  0.51017895,  0.31521294],
       [ 1.01718075,  1.26919939,  0.34770243],
       [ 2.01641149,  0.04586785,  0.39214179],
       [ 0.0944412 ,  0.00911842,  0.41383946],
       [ 0.46072013,  0.85566632,  0.56774486],
       [ 0.39672494, -0.25846537,  0.67197878],
       [ 0.27944165,  1.15983657,         nan],
       [ 0.05572609, -0.26958765,  0.70359785],
       [ 0.1027236 ,  1.16918609,  0.71265592],
       [ 0.00600658,  0.05184956,  0.74289933],
       [-0.13620072, -0.56221127,  0.75513755],
       [ 0.0731146 , -0.79546917, -0.63119023],
       [-0.19931169,  0.65648914, -0.65324557],
       [ 0.0353702 ,  0.82171792, -0.68628014],
       [-0.03551899,  0.23506854,  1.16391743],
       [-0.16879272,  2.2101405 , -0.82054336],
       [-0.17860854,  1.14245677, -0.91350185],
       [-0.25807437, -0.20562866, -1.04865389],
       [-0.27695823,  1.13055391, -1.07324912],
       [-0.22694868,  0.28392381, -1.42898775],
       [-0.40112892, -0.65932403, -0.00588428],
       [-0.60068212,  1.31053525, -0.03828215],
       [-0.60974994, -1.30865753, -0.08286268],
       [-0.99157015,  0.20592469, -0.11993541],
       [-0.65253231, -2.52599402, -0.15453072],
       [-1.17717755, -1.99727037, -0.25385963],
       [-0.77382036, -1.38312156, -0.34053619],
       [-0.98957702, -0.10090022, -0.35914195],
       [-1.00853372, -1.32079581, -0.42943154],
       [-1.10210556, -0.90693753, -0.56848824],
       [-1.28113364,  0.21768152, -1.518073  ],
       [-1.13430539,  1.20641936, -1.57885964],
       [-1.60035036,  0.10125394, -1.802021  ],
       [-1.59341322, -0.19932174,  0.69051075],
       [-1.62236202,  0.50772188, -1.81809633],
       [-1.61043334, -2.50940884, -1.81809633],
       [-1.62236202, -0.15722551, -1.43668959]])

In [36]:
# robust scaler
from sklearn.preprocessing import RobustScaler
robust = RobustScaler()
x_robust = robust.fit_transform(x)

In [37]:
x_robust # error k minimize choto kore nia asha

array([[ 0.67253009,  0.34535525,  1.55201644],
       [ 1.45211292,  0.6975647 ,  1.38371396],
       [ 1.3036336 , -0.52428997,  1.16665443],
       [ 1.15656655, -0.09797658,  1.0173676 ],
       [ 1.11983554, -0.76154296,  0.91457633],
       [ 0.95393588, -0.5566616 ,  0.89461668],
       [ 0.99834513,  0.59592064, -0.52459079],
       [ 0.9283341 ,  0.55532815,  0.65932587],
       [ 0.77013442,  0.63289538,  0.58531056],
       [ 0.8154161 , -0.34104062,  0.54528533],
       [ 0.46803423, -0.29446122,  0.08767206],
       [ 0.44790788, -0.75184149,  0.21190373],
       [ 0.33750405,  0.11239208,  0.21247644],
       [ 0.30715756,  0.31123495,  0.22952959],
       [ 0.76041632,  0.82331673,  0.25275401],
       [ 1.49673201, -0.00201781,  0.28452056],
       [ 0.08046566, -0.02681124,  0.30003068],
       [ 0.35037021,  0.54432193,  0.41004671],
       [ 0.30321327, -0.20733968,  0.48455614],
       [ 0.21678926,  0.74953386,         nan],
       [ 0.05193717, -0.21484346,  0.50715837],
       [ 0.08656882,  0.75584161,  0.51363334],
       [ 0.01529973,  0.00201781,  0.53525221],
       [-0.08949034, -0.41226531,  0.54400044],
       [ 0.06475046, -0.56963541, -0.4469868 ],
       [-0.13599571,  0.40994478, -0.46275259],
       [ 0.03693728,  0.52141826, -0.48636666],
       [-0.01529973,  0.12562858,  0.83620813],
       [-0.11350681,  1.45813335, -0.5823419 ],
       [-0.12073992,  0.73780837, -0.64879132],
       [-0.1792969 , -0.1716928 , -0.74540191],
       [-0.19321209,  0.72977798, -0.76298329],
       [-0.15636092,  0.15858935, -1.01727556],
       [-0.28471131, -0.47778354,  0.        ],
       [-0.43175858,  0.85120443, -0.02315894],
       [-0.43844049, -0.91586378, -0.05502639],
       [-0.71979714,  0.10596635, -0.08152705],
       [-0.46996607, -1.73715369, -0.10625678],
       [-0.85656799, -1.38044426, -0.17725996],
       [-0.55934112, -0.96610178, -0.23921887],
       [-0.71832843, -0.10103656, -0.25251881],
       [-0.7322973 , -0.92405301, -0.30276385],
       [-0.80124875, -0.64483881, -0.4021656 ],
       [-0.93317142,  0.11389823, -1.08095627],
       [-0.82497625,  0.78096147, -1.12440833],
       [-1.16839665,  0.03534904, -1.28393053],
       [-1.16328479, -0.16743776,  0.49780333],
       [-1.18461665,  0.30957726, -1.29542164],
       [-1.17582662, -1.72596431, -1.29542164],
       [-1.18461665, -0.13903706, -1.02278106]])

In [38]:
df[['Profit']] = m.fit_transform(df[['Profit']])

In [39]:
df.head()

   Marketing Spend  Administration  Transport     Area    Profit
0         0.692617        0.651744   1.000000    Dhaka  1.000000
1         0.983359        0.761972   0.940893      Ctg  0.997355
2         0.927985        0.379579   0.864664  Rangpur  0.993178
3         0.873136        0.512998   0.812235    Dhaka  0.947292
4         0.859438        0.305328   0.776136  Rangpur  0.853171

In [40]:
y = df.iloc[:,-1:5] # independence value r list -y

In [41]:
y

      Profit
0   1.000000
1   0.997355
2   0.993178
3   0.947292
4   0.853171
5   0.801382
6   0.796490
7   0.794407
8   0.774468
9   0.760661
10  0.740175
11  0.729686
12  0.714629
13  0.673644
14  0.664044
15  0.648921
16  0.632454
17  0.623317
18  0.617103
19  0.608713
20  0.584482
21  0.544157
22  0.538747
23  0.529634
24  0.528609
25  0.522146
26  0.512737
27  0.508654
28  0.498934
29  0.486108
30  0.480099
31  0.466280
32  0.465966
33  0.462312
34  0.461939
35  0.460626
36  0.428126
37  0.423852
38  0.374747
39  0.373489
40  0.357914
41  0.355430
42  0.319951
43  0.310156
44  0.284485
45  0.282940
46  0.196020
47  0.156990
48  0.118211
49  0.000000

In [42]:
# normalization(0,1) for dependent value =y
from sklearn.preprocessing import MinMaxScaler # feature r opre normalization hobe sobar opre na. 
m = MinMaxScaler(feature_range=(0,1))

In [43]:
y_after_min_max_scaler = m.fit_transform(y)

In [44]:
y_after_min_max_scaler

array([[1.        ],
       [0.99735461],
       [0.99317808],
       [0.94729239],
       [0.85317138],
       [0.80138177],
       [0.79649041],
       [0.79440736],
       [0.77446805],
       [0.7606613 ],
       [0.74017475],
       [0.72968626],
       [0.71462897],
       [0.67364377],
       [0.66404417],
       [0.64892083],
       [0.63245443],
       [0.62331739],
       [0.61710347],
       [0.60871268],
       [0.58448237],
       [0.54415692],
       [0.53874658],
       [0.52963376],
       [0.52860915],
       [0.52214616],
       [0.51273747],
       [0.50865352],
       [0.49893437],
       [0.48610784],
       [0.48009902],
       [0.46627976],
       [0.46596599],
       [0.46231175],
       [0.46193942],
       [0.4606257 ],
       [0.42812595],
       [0.42385155],
       [0.37474659],
       [0.37348913],
       [0.35791393],
       [0.3554301 ],
       [0.3199513 ],
       [0.31015569],
       [0.28448478],
       [0.28294041],
       [0.19602019],
       [0.15698988],
       [0.11821128],
       [0.        ]])